*.lib
*.old
*.dsp
*.aps
*.opt
*.dsw
*.dsp
*.user
*.obj
*.pdb
*.idb
*.res
*.pch
*.ini
release
debug
bin
obj
fullrelease
Release
Debug
Test
FullRelease
singlefilehelper
ipctester
soundcheck
spsutil
fdrawcmd
resourcedll
consolewrapper
decompress
*.bak
*.tlog
*.lastbuildstate
*.log
*.opensdf
*.ncb
*.sdf
*.suo
*.db
*.exe
*.dep
*.htm
*.orig
*.rej
aros.rom.cpp
/blit.h
/blitfunc.cpp
/blitfunc.h
/blittable.cpp
/cpudefs.cpp
/cpuemu_0.cpp
/cpuemu_11.cpp
/cpuemu_13.cpp
/cpuemu_20.cpp
/cpuemu_21.cpp
/cpuemu_22.cpp
/cpuemu_23.cpp
/cpuemu_24.cpp
/cpuemu_31.cpp
/cpuemu_32.cpp
/cpuemu_33.cpp
/cpuemu_40.cpp
/cpuemu_50.cpp
/cpustbl.cpp
/cputbl.h
/jit/compemu.cpp
/jit/compstbl.cpp
/jit/comptbl.h
/linetoscr.cpp
*.iobj
*.ipdb
*.opendb
packages
packages.config
*.sqlite
*.db-shm
*.db-wal
