*.lib
*.old
*.dsp
*.aps
*.opt
*.dsw
*.dsp
*.user
*.obj
*.pdb
*.idb
*.res
*.pch
*.ini
release
debug
fullrelease
Release
Debug
FullRelease
singlefilehelper
ipctester
soundcheck
spsutil
fdrawcmd
resourcedll
consolewrapper
decompress
*.bak
*.tlog
*.lastbuildstate
*.log
*.opensdf
*.ncb
*.sdf
*.suo
*.db
*.exe
*.dep
*.htm
*.orig
*.rej
aros.rom.cpp
