*.lib
*.old
*.dsp
*.aps
*.opt
*.dsw
*.dsp
*.user
*.obj
*.pdb
*.idb
*.res
*.pch
release
debug
bin
obj
fullrelease
Release
Debug
Test
FullRelease
singlefilehelper
ipctester
soundcheck
spsutil
fdrawcmd
resourcedll
consolewrapper
decompress
*.bak
*.tlog
*.lastbuildstate
*.log
*.opensdf
*.ncb
*.sdf
*.suo
*.db
*.exe
*.dep
*.htm
*.orig
*.rej
/cpuemu_*_test.cpp
/cpustbl_test.cpp
/cputbl_test.h
/cputest/data
/cputest/cputest
*.iobj
*.ipdb
*.opendb
*.ilk
*.recipe
packages
packages.config
*.sqlite
*.db-shm
*.db-wal
*.o
**/.vs
*.7z
*.zip
